<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Conversar player login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
</head>
<body>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="card mt-5" style="width: 65%;">
        <div class="card-header bg-primary">
          Login
        </div>
        <div class="card-body">
          {% if error %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endif %}
          <form class="px-4 py-3" method="post">

            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
              <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
            </div>
            
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>