<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Player configuration settings">
	<meta name="author" content="Adamson Ibus">
	<title>Player settings</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
</head>
<body>
	
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Conversar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">Hi {{session['username']}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="card mt-4">
			<div class="card-header">
				Player settings
			</div>
			<div class="card-body">
				{% if error %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				{% endif %}
				{% if message %}
					<div class="alert alert-success" role="alert">
						{{ message }}
					</div>
				{% endif %}
				<form class="px-4 py-3" method="post" action="/settings">
                                        <div class="mb-3">
                                                <label class="form-label">Card Reader</label>
                                                <select class="form-select" name="reader_type">
  							<option {{'selected' if config['reader_type'] == "PN532"}} value="PN532">PN532</option>
  							<option {{'selected' if config['reader_type'] == "RC522"}} value="RC522">RC522</option>
						</select>
                                        </div>
					<div class="mb-3">
						<label class="form-label">Server Domain:</label>
						<input type="text" class="form-control" name="server_url" value="{{config['server_url']}}" placeholder="console.conversar.cloud">
					</div>
					<div class="mb-3">
						<label class="form-label">Api Endpoint:</label>
						<input type="text" class="form-control" name="api_endpoint" value="{{config['api_endpoint']}}" placeholder="/to/api/endpoint">
					</div>
					<div class="mb-3">
						<label class="form-label">Screensaver Endpoint:</label>
						<input type="text" class="form-control" name="ss_api_endpoint" value="{{config['ss_api_endpoint']}}" placeholder="/to/api/screensaver/endpoint">
					</div>
					<div class="mb-3">
						<label class="form-label">Api Key:</label>
						<input type="password" class="form-control" name="api_key" value="{{config['api_key']}}" placeholder="">
					</div>
					<div class="mb-3">
						<label class="form-label">Network ID:</label>
						<input type="text" class="form-control" name="network_id" value="{{config['network_id']}}" placeholder="">
					</div>
					<div class="mb-3">
						<label class="form-label">Extra Params:</label>
						<input type="text" class="form-control" name="extra_params" value="{{config['extra_params']}}" placeholder="">
					</div>
					<div class="mb-3">
						<label class="form-label">Serial No:</label>
						<input type="text" class="form-control" readonly name="serial_no" value="{{serial_no}}" placeholder="00000000000">
					</div>
					<button type="submit" class="btn btn-primary">Save</button>
				</form>
			</div>
    </div>
  </div>
</body>
</html>
